<section class="products-component mg-top-50">
    <div class="container">
        <ul class="content row valign-middle pad-top-55 pad-bottom-30 pad-sides-25">
            <li class="info col-lg-4 col-md-6 ">
                <i class="icon far fa-snowflake icon-big "></i>
                <div class="info-description">
                    <h5 class="title text-big">Unique Design</h5>
                    <p class="text text-small">Ut enim ad minim veniam, quis nost rud exercitation. Ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </li>
            <li class="info col-lg-4 col-md-6 ">
                <i class="icon fas fa-desktop icon-big "></i>
                <div class="info-description">
                    <h5 class="title text-big">Fully Responsive</h5>
                    <p class="text text-small">Ut enim ad minim veniam, quis nost rud exercitation. Ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </li>
            <li class="info col-lg-4 col-md-6 ">
                <i class="icon far fa-compass icon-big "></i>
                <div class="info-description">
                    <h5 class="title text-big">Fast Loading Optimzed</h5>
                    <p class="text text-small">Ut enim ad minim veniam, quis nost rud exercitation. Ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </li>
            <li class="info col-lg-4 col-md-6">
                <i class="icon fab fa-chrome icon-big "></i>
                <div class="info-description">
                    <h5 class="title text-big">Cross browser compatible</h5>
                    <p class="text text-small">Ut enim ad minim veniam, quis nost rud exercitation. Ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </li>
            <li class="info col-lg-4 col-md-6">
                <i class="icon far fa-clock icon-big "></i>
                <div class="info-description">
                    <h5 class="title text-big">Save Time</h5>
                    <p class="text text-small">Ut enim ad minim veniam, quis nost rud exercitation. Ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </li>
            <li class="info col-lg-4 col-md-6 ">
                <i class="icon fas fa-fill-drip icon-big "></i>
                <div class="info-description">
                    <h5 class="title text-big">Unlimited Color</h5>
                    <p class="text text-small">Ut enim ad minim veniam, quis nost rud exercitation. Ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </li>
        </ul>
    </div>
</section>
