@import '../../scss/_deps';
.products-component {
    .content {
        box-shadow: 0 8px 16px lighten(map-get($colors, 'gray'), 25%);
        .info {
            display: flex;
            margin-bottom: 35px;
        }
        .icon {
            color: map-get($colors, 'primary');
            background-image: linear-gradient(to bottom right, #c845aa, #770ddb);
            background-clip: text;
            padding-right: 20px;
            padding-top: 5px;
        }
        .info-description {
            @extend %robotoslab-regular;
            @extend .cl-gray;
            line-height: 1.5;
            .title {
                @extend %robotoslab-light;
                @extend .cl-gray-dark;
                margin-bottom: 10px;
            }
        }
    }
}
