<section class="products-component mg-top-50">
    <div class="container">
        <ul class="row">
            <li class="info col-lg-4 col-md-6 pad-bottom-30">
                <i class="icon far fa-snowflake icon-big pad-right-15"></i>
                <div class="box-info">
                    <h5 class="text-medium">Unique Design</h5>
                    <p class="text-smaller">Ut enim ad minim veniam, quis nost rud exercitation. Ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </li>
            <li class="info col-lg-4 col-md-6 pad-bottom-30">
                <i class="icon fas fa-desktop pad-right-15"></i>
                <div class="box-info">
                    <h5 class="text-medium">Fully Responsive</h5>
                    <p class="text-smaller">Ut enim ad minim veniam, quis nost rud exercitation. Ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </li>
            <li class="info col-lg-4 col-md-6 pad-bottom-30">
                <i class="icon far fa-compass pad-right-15"></i>
                <div class="box-info">
                    <h5 class="text-medium">Fast Loading Optimzed</h5>
                    <p class="text-smaller">Ut enim ad minim veniam, quis nost rud exercitation. Ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </li>
            <li class="info col-lg-4 col-md-6">
                <i class="icon fab fa-chrome pad-right-15"></i>
                <div class="box-info">
                    <h5 class="text-medium">Cross browser compatible</h5>
                    <p class="text-smaller">Ut enim ad minim veniam, quis nost rud exercitation. Ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </li>
            <li class="info col-lg-4 col-md-6">
                <i class="icon far fa-clock pad-right-15"></i>
                <div class="box-info">
                    <h5 class="text-medium">Save Time</h5>
                    <p class="text-smaller">Ut enim ad minim veniam, quis nost rud exercitation. Ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </li>
            <li class="info col-lg-4 col-md-6">
                <i class="icon fas fa-fill-drip pad-right-15"></i>
                <div class="box-info">
                    <h5 class="text-medium">Unlimited Color</h5>
                    <p class="text-smaller">Ut enim ad minim veniam, quis nost rud exercitation. Ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </li>
        </ul>
    </div>
</section>

<!--  Site do projeto   http://preview.themeforest.net/item/appx-lander-responsive-app-landing-page-template/full_screen_preview/21974232?_ga=2.112998468.1193321501.1532348838-1922723327.1532348838 -->