<div class="plan-component pad-both-90">
    <div class="row halign-middle text-center mg-bottom-50">
        <div class="col-md-6 col-sm-12">
            <h2 class="title title-section title-big">
                Choose your plan
            </h2>
            <p class="text text-section text-medium">
                Nam et sagittis diam. Sed tempor augue sit amet egestas scelerisque. Orci varius natoque penatibus et magnis dis parturient
                montes nascetur.
            </p>
        </div>
    </div>

    <!-- PLANS -->
    <div class="plans pad-sides-40 row">
        <div class="plans-content col-md-4 ">
            <div class="background-plan">
                <div class="">
                    <h3 class="title-plan text-center">Basic Plan</h3>
                    <h2 class="value-plan">$19.99</h2>
                </div>

                <ul class="text-center  list-unstyled">
                    <li>
                        <i class="fa fa-check icon"></i>
                        <span class="">Unlimited Members</span>
                    </li>
                    <li>
                        <i class="fa fa-check icon"></i>
                        <span class="">Ulimited Space</span>
                    </li>
                    <li>
                        <i class="fas fa-times icon"></i>
                        <span class="line-trought">24/7 Live Support</span>
                    </li>
                    <li>
                        <i class="fas fa-times icon"></i>
                        <span class="line-trought">Personal Assistant</span>
                    </li>
                    <li>
                        <i class="fas fa-times icon"></i>
                        <span class="line-trought">Lifetime Access</span>
                    </li>
                </ul>
                <button class="button-pattern">SIGN UP</button>
            </div>
        </div>

        <div class="plans-content col-md-4 ">
            <div class="background-plan">
                <div class="">
                    <h3 class="title-plan text-center">Premium plan</h3>
                    <h2 class="value-plan">$49.99</h2>
                </div>
                <ul class="text-center  list-unstyled">
                    <li>
                        <i class="fa fa-check icon"></i>
                        <span class="">5 Member</span>
                    </li>
                    <li>
                        <i class="fa fa-check icon"></i>
                        <span class="">10 GB Space</span>
                    </li>
                    <li>
                        <i class="fa fa-check icon"></i>
                        <span class="">24/7 Live Support</span>
                    </li>
                    <li>
                        <i class="fas fa-times icon"></i>
                        <span class="line-trought">Personal Assistant</span>
                    </li>
                    <li>
                        <i class="fas fa-times icon"></i>
                        <span class="line-trought">Lifetime Access</span>
                    </li>
                </ul>
                <button class="button-pattern">SIGN UP</button>
            </div>
        </div>

        <div class="plans-content col-md-4 ">
            <div class="background-plan">
                <div class="">
                    <h3 class="title-plan text-center">Business Plan</h3>
                    <h2 class="value-plan">$99.99</h2>
                </div>
                <ul class="text-center  list-unstyled">
                    <li>
                        <i class="fa fa-check icon"></i>
                        <span class="">Unlimited Members</span>
                    </li>
                    <li>
                        <i class="fa fa-check icon"></i>
                        <span class="">Ulimited Space</span>
                    </li>
                    <li>
                        <i class="fa fa-check icon"></i>
                        <span class="">24/7 Live Support</span>
                    </li>
                    <li>
                        <i class="fa fa-check icon"></i>
                        <span class="">Personal Assistant</span>
                    </li>
                    <li>
                        <i class="fa fa-check icon"></i>
                        <span class="">Lifetime Access</span>
                    </li>
                </ul>
                <button class="button-pattern">SIGN UP</button>
            </div>
        </div>
    </div>
</div>