@import '../../scss/_deps';

.plan-component {
    display: block;
    position: relative;

    &:before {
        content: '';
        background-image: url('../../img/bg.jpeg');
        background-attachment: fixed;
        opacity: .2;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    .plans-content {

        .background-plan {
            @extend .bg-white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            border-radius: 10px;
            font-weight: 1.5;
            padding: 40px 0;

            &:hover {
                margin-top: -10px;
                transition: linear .2s;
            }
        }

        .value-plan {
            padding-top: 20px;
        }

        .list-unstyled {
            @extend %robotoslab-light;
            @extend .cl-gray-dark;
            padding-top: 20px; 
            line-height: 2.5;

            .fas {
                @extend .cl-gray-dark;
            }
        }

        .button-pattern {
            margin-top: 15px;
            width: 80%;
            cursor: pointer;

        }
    }
}
