<section class="about-section container pad-bottom-90">
    <!-- ABOUT ICONES -->
    <div class="about-icons">
        <ul class="content row valign-middle pad-top-55 pad-bottom-30 pad-sides-25">
            <li class="info col-lg-4 col-md-6 ">
                <i class="icon far fa-snowflake icon-big "></i>
                <div class="info-description">
                    <h5 class="title text-big">Unique Design</h5>
                    <p class="text text-small">Ut enim ad minim veniam, quis nost rud exercitation. Ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </li>
            <li class="info col-lg-4 col-md-6 ">
                <i class="icon fas fa-desktop icon-big "></i>
                <div class="info-description">
                    <h5 class="title text-big">Fully Responsive</h5>
                    <p class="text text-small">Ut enim ad minim veniam, quis nost rud exercitation. Ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </li>
            <li class="info col-lg-4 col-md-6 ">
                <i class="icon far fa-compass icon-big "></i>
                <div class="info-description">
                    <h5 class="title text-big">Fast Loading Optimzed</h5>
                    <p class="text text-small">Ut enim ad minim veniam, quis nost rud exercitation. Ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </li>
            <li class="info col-lg-4 col-md-6">
                <i class="icon fab fa-chrome icon-big "></i>
                <div class="info-description">
                    <h5 class="title text-big">Cross browser compatible</h5>
                    <p class="text text-small">Ut enim ad minim veniam, quis nost rud exercitation. Ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </li>
            <li class="info col-lg-4 col-md-6">
                <i class="icon far fa-clock icon-big "></i>
                <div class="info-description">
                    <h5 class="title text-big">Save Time</h5>
                    <p class="text text-small">Ut enim ad minim veniam, quis nost rud exercitation. Ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </li>
            <li class="info col-lg-4 col-md-6 ">
                <i class="icon fas fa-fill-drip icon-big "></i>
                <div class="info-description">
                    <h5 class="title text-big">Unlimited Color</h5>
                    <p class="text text-small">Ut enim ad minim veniam, quis nost rud exercitation. Ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </li>
        </ul>
    </div>

    <!-- ABOUT -->
    <!-- ABOUT-APP -->
    <div class="about-app row halign-middle text-center">
        <div class="col-md-8 col-sm-12">
            <h2 class="title title-section title-big">
                About The App
            </h2>
            <p class="text text-section text-medium">
                Nam et sagittis diam. Sed tempor augue sit amet egestas scelerisque. Orci varius natoque penatibus et magnis dis parturient
                montes nascetur.
            </p>
        </div>
    </div>

    <div class="about-video row valign-middle mg-top-45">
        <div class="col-md-6">
            <h3 class="title title-medium">Take a Look Around our App</h3>
            <p class="mg-top-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Ex ea commodo consequat
                duis aute irure dolor.
            </p>
            <ul class="list-icon mg-top-20 ">
                <li class="item">
                    <i class="fa fa-check icon"></i>
                    Provident ipsam commodi sed architecto ratione omnis!
                </li>
                <li class="item">
                    <i class="fa fa-check icon"></i>
                    Ab facilis ratione sequi sed consequatur, quia nemo nulla.
                </li>
                <li class="item">
                    <i class="fa fa-check icon"></i>
                    Iure aliquam reiciendis, omnis nulla fuga similique ipsum.
                </li>
            </ul>
            <a href="#download">
                <button type="button" class="button-pattern on-bold text-medium mg-top-20">Download</button>
            </a>
        </div>
        <div class="col-md-6 video-thumb mg-top-25">
            <a class="js-modal-about" data-video-id="mW6hFttt_KE" data-lity="">
                <div class="play-button">
                    <i class="fa fa-play icon-bigger cl-white mg-left-10"></i>
                </div>
            </a>
            <img src="img/video.jpeg" class="img-video-thumb" alt="">
        </div>
    </div>

    <!-- DOWNLOAD AND VIDEO -->




</section>