<div class="clients pad-both-90">
    <!-- Title Our App Screenshots -->
    <div class="row halign-middle text-center mg-bottom-50">
        <div class="col-md-6 col-sm-12">
            <h2 class="title title-section title-big">
                Clients Testimonial
            </h2>
        </div>
    </div>


    <!-- Swiper -->
    <div class="swiper-testemonial">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="info-client halign-middle">
                    <img src="../../img/client-1.jpg" class="client-cicle">
                    <p>
                        Consequuntur inventore fugit? Laboriosam sapiente pariatur laborum ducimus. Voluptates ducimus suscipit minima vero ullam
                        veritatis fuga. Porro iusto quo quis.
                    </p>
                    <div class="line"></div>
                    <footer class="footer-client text-center">
                        <h5>John Doe</h5>
                        <cite>CEO at ABC Software</cite>
                    </footer>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="info-client halign-middle">
                    <img src="../../img/client-2.jpg" class="client-cicle">
                    <p>
                        Consequuntur inventore fugit? Laboriosam sapiente pariatur laborum ducimus. Voluptates ducimus suscipit minima vero ullam
                        veritatis fuga. Porro iusto quo quis.
                    </p>
                    <div class="line"></div>
                    <footer class="footer-client text-center">
                        <h5>John Doe</h5>
                        <cite>CEO at ABC Software</cite>
                    </footer>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="info-client halign-middle">
                    <img src="../../img/client-3.jpg" class="client-cicle">
                    <p>
                        Consequuntur inventore fugit? Laboriosam sapiente pariatur laborum ducimus. Voluptates ducimus suscipit minima vero ullam
                        veritatis fuga. Porro iusto quo quis.
                    </p>
                    <div class="line"></div>
                    <footer class="footer-client text-center">
                        <h5>John Doe</h5>
                        <cite>CEO at ABC Software</cite>
                    </footer>
                </div>
            </div>
        </div>

        <div class="control text-center">
            <i class="fas fa-chevron-left btn-prev"></i>
            <i class="fas fa-chevron-right btn-next"></i>
        </div>
    </div>

</div>