@import '../../scss/_deps';
.client-component {
    .swiper-testemonial {
        width: 100%;
        height: 60%;
        overflow: hidden;
    }
    .swiper-slide {
        width: 100%;
        height: auto;
    }
    .client-cicle {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    .line {
        background-color: map-get($colors, 'black');
        width: 15px;
        height: 1px;
    }
}
