<div class="clients pad-both-90">
    <!-- Title Our App Screenshots -->
    <div class="row halign-middle text-center mg-bottom-40">
        <div class="col-md-6 col-sm-12">
            <h2 class="title title-section title-big">
                Clients Testimonial
            </h2>
        </div>
    </div>


    <!-- Swiper -->
    <div class="swiper-testemonial">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-swiper-autoplay=" 4000">
                <div class="info-client halign-middle">
                    <img src="../../img/client-1.jpg" class="client-cicle">
                    <p class="text text-section text-medium">
                        Consequuntur inventore fugit? Laboriosam sapiente pariatur laborum ducimus. Voluptates ducimus suscipit minima vero ullam
                        veritatis fuga. Porro iusto quo quis.
                    </p>
                    <div class="line"></div>
                    <footer class="footer-client text-center">
                        <h3 class="title">John Doe</h3>
                        <p class="subTitle text-section text-small">CEO at ABC Software</p>
                    </footer>
                </div>
            </div>

            <div class="swiper-slide" data-swiper-autoplay=" 4000">
                <div class="info-client halign-middle">
                    <img src="../../img/client-2.jpg" class="client-cicle">
                    <p class="text text-section text-medium">
                        Consequuntur inventore fugit? Laboriosam sapiente pariatur laborum ducimus. Voluptates ducimus suscipit minima vero ullam
                        veritatis fuga. Porro iusto quo quis.
                    </p>
                    <div class="line"></div>
                    <footer class="footer-client text-center">
                        <h3 class="title">John Doe</h3>
                        <p class="subTitle text-section text-small">CEO at ABC Software</p>
                    </footer>
                </div>
            </div>

            <div class="swiper-slide" data-swiper-autoplay=" 4000">
                <div class="info-client halign-middle">
                    <img src="../../img/client-3.jpg" class="client-cicle">
                    <p class="text text-section text-medium">
                        Consequuntur inventore fugit? Laboriosam sapiente pariatur laborum ducimus. Voluptates ducimus suscipit minima vero ullam
                        veritatis fuga. Porro iusto quo quis.
                    </p>
                    <div class="line"></div>
                    <footer class="footer-client text-center">
                        <h3 class="title">John Doe</h3>
                        <p class="subTitle text-section text-small">CEO at ABC Software</p>
                    </footer>
                </div>
            </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

        <div class="control text-center mg-top-25">
            <!-- <div class="swiper-button-next"> -->
            <i class="fas fa-chevron-left btn-prev btn-control pad-right-5 cl-gray"></i>
            <!-- </div> -->
            <!-- <div class="swipe-button-prev"> -->
            <i class="fas fa-chevron-right btn-control pad-left-5 cl-gray"></i>
            <!-- </div> -->
        </div>
    </div>

</div>