<div class="client-component pad-both-90">
    <!-- Title Our App Screenshots -->
    <div class="row halign-middle text-center mg-bottom-50">
        <div class="col-md-6 col-sm-12">
            <h2 class="title title-section title-big">
                Clients Testimonial
            </h2>
        </div>
    </div>

    <!-- Carousel -->
    <div class="box-carousel pad-top-15">
        <!-- Swiper -->
        <div class="swiper-container container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="img-client" src="../../img/client-1.jpg" alt="">
                    <!-- <div class="description-client halign-middle text-center"> -->
                    <p class="text text-section">
                        Inventore quia sunt voluptatem ipsum vero optio, placeat. Veritatis provident vitae vero alias. Dolor quis assumenda deserunt
                        nemo omnis odit itaque ratione ab dicta!
                    </p>
                    <div class="line bg-gray"></div>
                    <h5 class="title-client pad-top-5">John Doe</h5>
                    <p class="text-small pad-top-5">President at X LAB</p>
                    <!-- </div> -->
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>

</div>