@import '../../scss/_deps';

.app-component {
    background-image: linear-gradient(to top left, #c845aa, #770ddb);
    // width: 100%;
    height: 100%;

    .box-content {
        .description-app {
            &.title-app {
                @extend %robotoslab-thin;
            }

            &.text-app {
                line-height: 1.5;
            }
        }
    }

    .btn-app {
        @extend .uppercase;
        border: 2px solid map-get($colors, 'white');
        padding: 20px 35px;
        border-radius: 5px;
        margin-top: 50px;
        cursor: pointer;

        &:hover {
            color: map-get($colors, 'black');
            background-color: map-get($colors, 'white-bege');
        }
    }

    /* ---- particles.js container ---- */

    .particles-js {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
