<section class="app-component pad-top-90">

    <!-- div das particulas -->
    <div id="particles-js" class="particles-js"></div>

    <div class="container">
        <div class="box-info row valign-middle">
            <div class="col-md-8">
                <div class="description-app pad-both-15">
                    <h1 class="title-app title-bigger not-bold cl-white">
                        Make beautiful Landing
                        <span class="on-bold"> Page easily than ever </span>
                    </h1>
                    <p class="text-app text-big robotoslab-light mg-top-40 cl-white">
                        Sed ut perspiciatis unde omnis iste natus error. Sit voluptatem accusantium doloremque laudantium. Totam rem aperiam eaque
                        ipsa.
                    </p>
                    <!-- Video original: mW6hFttt_KE -->
                    <button class="btn-app js-modal-video bg-transparent cl-white mg-right-10" data-video-id="mW6hFttt_KE">
                        <i class="fas fa-play mg-right-5"></i>
                        <span class="text-medium">Watch Video</span>
                    </button>

                    <a class="video-app mg-top-40" href="feature-component">
                        <button class="btn-app bg-white cl-black">
                            <span class="text-medium">Learn More</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-8 mg-top-30">
                <img class="img-app" src="./img/app.png" alt="You App Screenshot">
            </div>
        </div>
    </div>
</section>