<div class="app-component">
    <div class="container">
        <div class="box-content">
            <div class="description-app">
                <h1 class="title-app title not-bold cl-white">
                    Make beautiful Landing <strong> Page easily than ever </strong>
                </h1>
                <p class="text-app text-big robotoslab-light mg-top-40 cl-white">
                    Sed ut perspiciatis unde omnis iste natus error. Sit voluptatem accusantium doloremque laudantium. Totam rem aperiam eaque ipsa.
                </p>
                <a href="https://www.youtube.com/watch?v=mW6hFttt_KE" class="video-app mg-top-40">
                    <button class="btn-app">
                        <i class="seta-btn-app"></i>
                        Watch Video
                    </button>
                </a>
            </div>
            <div class="img-app">
                <img src="./img/app.png" alt="You App Screenshot">
            </div>
        </div>
    </div>
</div>