<section class="app-component">
    <!-- <div id="particles-js">
        <canvas class="particles-js-canvas-el" width="1642" height="868" style="width: 100%; height: 100%;">
        </canvas>
    </div> -->
    <div class="container">
        <div class="row valign-middle">
            <div class="col-8">
                <div class="description-app pad-both-15">
                    <h1 class="title-app title not-bold cl-white">
                        Make beautiful Landing
                        <strong> Page easily than ever </strong>
                    </h1>
                    <p class="text-app text-big robotoslab-light mg-top-40 cl-white">
                        Sed ut perspiciatis unde omnis iste natus error. Sit voluptatem accusantium doloremque laudantium. Totam rem aperiam eaque
                        ipsa.
                    </p>
                    <a class="video-app mg-top-40 mg-right-5" href="https://www.youtube.com/watch?v=mW6hFttt_KE">
                        <button class="btn-app bg-transparent cl-white">
                        <i class="fas fa-play mg-right-5"></i>
                            Watch Video
                        </button>
                    </a>
                    <a class="video-app mg-top-40" href="https://www.youtube.com/watch?v=mW6hFttt_KE">
                        <button class="btn-app bg-white cl-black">
                            Learn More
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-4">
                <img src="./img/app.png" alt="You App Screenshot">
            </div>
        </div>
    </div>
    <!-- <script src="./js/particles.min.js"></script> -->
</section>

