<div class="team-component bg-gray-light pad-both-90">
    <div class="row halign-middle text-center mg-bottom-50">
        <div class="col-md-6 col-sm-12">
            <h2 class="title title-section title-big">
                Choose your plan
            </h2>
            <p class="text text-section text-medium">
                Nam et sagittis diam. Sed tempor augue sit amet egestas scelerisque. Orci varius natoque penatibus et magnis dis parturient
                montes nascetur.
            </p>
        </div>
    </div>

    div.
</div>
