@import '../../scss/_deps';

.box-team {
    display: flex; 
    align-items: center;
    
    .team-expert {
        position: relative;
    
        .team-info {
            @extend .cl-white-bege;
            @extend %robotoslab-thin;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 50%;
            overflow: hidden;

            &:hover {
                width: 100%;
                height: 100%;
                border-radius: 0;
                background: linear-gradient(to bottom right, #c845aa, #770ddb);
                opacity: .8;
                transition: linear .5s;
                top: 0;
                left: 0;
                
            }
        }
    }
}

