<div id="team-component " class="team-component bg-gray-light pad-both-90">
    <div class="container">
        <div class="row halign-middle text-center mg-bottom-50">
            <div class="col-md-8 col-sm-12">
                <h2 class="title title-section title-big">
                    Our Team
                </h2>
                <p class="text text-section text-medium">
                    Nam et sagittis diam. Sed tempor augue sit amet egestas scelerisque. Orci varius natoque penatibus et magnis dis parturient
                    montes nascetur.
                </p>
            </div>
        </div>

        <div class="row ">
            <div class="col-sm-5 col-xl">
                <div class="team-expert">
                    <img class="img-team" src="../../img/team-1.jpg" alt="">
                    <div class="team-info">
                        <h4 class="title-medium">John Doe</h4>
                        <p class="text-medium">CEO</p>
                        <div class="social">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-xl">
                <div class="team-expert">
                    <img class="img-team" src="../../img/team-2.jpg" alt="">
                    <div class="team-info">
                        <h4 class="title-medium">John Doe</h4>
                        <p class="text-medium">COO</p>
                        <div class="social">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-xl">
                <div class="team-expert">
                    <img class="img-team" src="../../img/team-3.jpg" alt="">
                    <div class="team-info">
                        <h4 class="title-medium">John Doe</h4>
                        <p class="text-medium">Web Developer</p>
                        <div class="social">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-xl">
                <div class="team-expert">
                    <img class="img-team" src="../../img/team-4.jpg" alt="">
                    <div class="team-info">
                        <h4 class="title-medium">John Doe</h4>
                        <p class="text-medium">Web Designer</p>
                        <div class="social">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>