<div class="feature-component bg-gray-light pad-both-90">
<div class="container cl-gray-light">
    <div class="row">
        <div class="row halign-middle text-center mg-bottom-50">
            <div class="col-md-8 col-sm-12">
                <h2 class="title title-section title-big">
                    Amazing Features
                </h2>
                <p class="text text-section text-medium">
                    Nam et sagittis diam. Sed tempor augue sit amet egestas scelerisque. Orci varius natoque penatibus et magnis dis parturient
                    montes nascetur.
                </p>
            </div>
        </div>

        <div class="box-features row">
            <!-- <div class="left-feature"> -->
            <ul class="list-feature col-md-4 text-right ">

                <li class="item">
                    <div>
                        <h5 class="title text-bigger">User Friendly</h5>
                        <p>
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa. Qui officia deserunt mollit anim id.
                        </p>
                    </div>
                    <div class="icon-cicle mg-left-30">
                        <i class="fa fa-umbrella icon"></i>
                    </div>
                </li>

                <li class="item">
                    <div>
                        <h5 class="title text-bigger">Super Fast Speed</h5>
                        <p>
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa. Qui officia deserunt mollit anim id.
                        </p>
                    </div>
                    <div class="icon-cicle mg-left-30">
                        <i class="fas fa-tachometer-alt icon"></i>
                    </div>
                </li>

                <li class="item">
                    <div>
                        <h5 class="title text-bigger">24/7 Support</h5>
                        <p>
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa. Qui officia deserunt mollit anim id.
                        </p>
                    </div>
                    <div class="icon-cicle mg-left-30">
                        <i class="far fa-life-ring icon"></i>
                    </div>
                </li>

            </ul>
            <!-- </div> -->

            <div class="center-feature col-md-4">
                <img src="./img/app.png" alt="You App Screenshot">
            </div>
            <!-- <div class="right-feature"> -->
                <ul class="list-feature col-md-4 text-left">

                    <li class="item">
                        <div class="icon-cicle mg-right-30">
                            <i class="fas fa-shield-alt icon"></i>
                        </div>
                        <div>
                            <h5 class="title text-bigger">Secure</h5>
                            <p>
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa. Qui officia deserunt mollit anim id.
                            </p>
                        </div>
                    </li>

                    <li class="item">
                        <div class="icon-cicle mg-right-30">
                            <i class="fa fa-star icon"></i>
                        </div>
                        <div>
                            <h5 class="title text-bigger">Awesome Rating</h5>
                            <p>
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa. Qui officia deserunt mollit anim id.
                            </p>
                        </div>
                    </li>

                    <li class="item">
                        <div class="icon-cicle mg-right-30">
                            <i class="fa fa-wifi icon"></i>
                        </div>
                        <div>
                            <h5 class="title text-bigger">Award Winning</h5>
                            <p>
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa. Qui officia deserunt mollit anim id.
                            </p>
                        </div>
                    </li>

                </ul>
            <!-- </div> -->
        </div>
    </div>
    </div>
</div>