@import '../../scss/_deps';

.box-features {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .list-feature {
        display: flex;
        flex-direction: column;

        .item {
            display: flex;
            align-items: center;

            .icon {
                background-image: linear-gradient(to bottom right, #c845aa, #770ddb);
                padding: 20px;
                border: 2px solid #770ddb;
                border-radius: 10px;
                margin: 0 20px;
            }
        }
    }
}
