@import '../../scss/_deps';

.box-features {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .list-feature {
        display: flex;
        flex-direction: column;

        .item {
            @extend %robotoslab-light;
            @extend .cl-gray-dark;
            display: flex;
            align-items: flex-start;
            line-height: 1.5;
            margin-top: 30px;

            .title {
                margin-bottom: 5px;
            }
        }
    }

    .text-right {
        right: 50px;
    }

    .text-left {
        left: 50px;
    }

    .center-feature {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

