//===============================================
//                                Paleta de Cores
//===============================================
/*
    Exemplo de chamadas:

    background-color: map-get($colors, 'nome-da-cor');
    @extend %bg-nome-da-cor

*/

$colors: ( 
    'primary': #770ddb,
    'secundary': #c845aa,
    'ocean': #4ba29f,
    'gray': #7280a4,
    'black': #000,
    'white': #fff,
    'white-bege': #e2e6ea,
    'transparent': transparent
);

//===============================================
//                                    Font Family
//===============================================
/*
	Exemplo de chamadas:

	font-family: roboto-estilo-desejado
	@extend %roboto-estilo-desejado
*/

$fonts: ( 
    'robotoslab-bold': 'robotoslab-bold',
    'robotoslab-regular': 'robotoslab-regular',
    'robotoslab-light': 'robotoslab-light',
    'robotoslab-thin': 'robotoslab-thin'
);
