<div class="contact-component pad-both-90">
    <div class="container">
        <div class="row halign-middle text-center">
            <div class="col-md-8 col-sm-12">
                <h2 class="title title-section title-big">
                    Get In Touch
                </h2>
            </div>
        </div>

        <div class="row col-md-6 pad-top-30">
            <div class="media">
                <div class="media-body">
                    <i class="fas fa-envelope icon icon-medium"></i>
                    <div class="email">
                        <p>example@gmail.com</p>
                        <p>example2@gmail.com</p>
                    </div>
                </div>

                <div class="media-body">
                    <i class="fas fa-phone icon icon-medium"></i>
                    <div class="phone">
                        <p>(+123) 456-7890</p>
                        <p>(+123) 456-7890</p>
                    </div>
                </div>
            </div>

            <div class="box-contact">
                
            </div>
        </div>
    </div>
</div>