<div class="contact-component pad-both-90">
    <div class="container">
        <div class="col-md col-sm-12 halign-middle text-center">
            <h2 class="title title-section title-big">
                Get In Touch
            </h2>
        </div>
        <div class="row pad-top-45">
            <div class="col-md-6 col-sm-10 halign-middle">
                <div class="media col-md mg-bottom-45">
                    <div class="media-body">
                        <i class="fas fa-envelope icon icon-big"></i>
                        <div class="email">
                            <p>example@gmail.com</p>
                            <p>example2@gmail.com</p>
                        </div>
                    </div>

                    <div class="media-body">
                        <i class="fas fa-phone icon icon-big"></i>
                        <div class="phone">
                            <p>(+123) 456-7890</p>
                            <p>(+123) 456-7890</p>
                        </div>
                    </div>
                </div>

                <div class="forms-content col-md col-sm mg-top-20">
                    <div class="group-forms row halign-between">
                        <div class="forms">
                            <input class="form-control" type="text" placeholder="Full Name *" required>
                        </div>
                        <div class="forms">
                            <input class="form-control" type="email" placeholder="Email *" required>
                        </div>
                    </div>
                    <div class="group-forms row halign-between">
                        <div class="forms">
                            <input class="form-control" type="tel" placeholder="Phone Number *">
                        </div>
                        <div class="forms">
                            <input class="form-control" type="text" placeholder="Subject *">
                        </div>
                    </div>
                    <textarea name="contact-message" rows="5" placeholder="Messages *" class="message col-md" aria-required="true"></textarea>
                    <button type="button" class="button-pattern on-bold
                    text-medium mg-top-10">Send Message</button>
                </div>
            </div>
            <div class="col-md col-sm">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3677.466479650533!2d89.55074141414967!3d22.822224885054837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ff90089bf9c5b3%3A0xd132753d2788581b!2z4Ka24Ka_4KasIOCmrOCmvuCnnOCmv-CmsCDgpq7gp4vgp5w!5e0!3m2!1sbn!2sbd!4v1523537037528"
                    width="100%" height="420" frameborder="0" allowfullscreen="" class="location_map">
                </iframe>
            </div>
        </div>
    </div>
</div>