@import '../../scss/_deps';

.header-component {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 10;

    .menu-nav {
        align-items: center;

        .list-items {
            display: flex;
            justify-content: space-between;

            .nav-link {
                @extend %robotoslab-light;
                color: map-get($colors, 'white');
            }
        }
    }

    .img-logo {
        width: 250px;
    }
}
