<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>HEADER</title>
    <!-- Aicionar nome do projeto -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Meta Tags para SEO -->
    <meta name="description" content="## Descrição do projeto para buscadores ##"/>
    <meta name="keywords" content="## Palavras chaves do projeto para buscadores ##"/>

    <meta name="theme-color" content="#21356c">
    <meta name="apple-mobile-web-app-status-bar-style" content="#21356c">
    <meta name="msapplication-navbutton-clor" content="#21356c">

    <!-- Meta Tags para acompanhamento dos buscadores || EVITAR O GOOGLE DE FAZER TESTE NO SITE -->
    <meta name="googlebot" content="noindex,nofollow">
    <!-- DESENVOLVIMENTO || Os buscadores NÃO irá encontrar e indexar o projeto  -->
    <meta name="robots" content="noarchive">

    <!-- Chamadas dos arquivos CSS e ICON -->
    <link rel="stylesheet" href="./css/bundle.min.css">
    <link rel="icon" href="#" sizes="#" type="image/png">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>
<body>
