@import '../../scss/_deps';

.header-component {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 10;
    padding: 30px 0;

    .menu-nav {
        position: relative;
        justify-content: space-between;
        align-items: center;

        .list-items {
            display: flex;
            justify-content: space-between;

            .nav-link {
                @extend %robotoslab-regular;
                color: map-get($colors, 'white');
                display: block;
            }
        }

        .box-logo {

            .logo-color {
                display: none;
            }

            .img-logo {
                width: 250px;
            }
        }
    }

    .btn-menu {
        display: none;
    }
}



.header-component-dif {
    position: fixed;
    background: map-get($colors, 'white');
    width: 100%;
    height: auto;
    z-index: 10;
    padding: 10px 0;

    .menu-nav {
        align-items: center;

        .list-items {
            display: flex;
            justify-content: space-between;

            .nav-link {
                color: map-get($colors, 'black');
            }
        }

        .box-logo {

            .logo-color {
                display: block;
            }

            .logo-white {
                display: none;
            }

            .img-logo {
                width: 250px;
            }
        }
    }

    .btn-menu {
        display: block;
        cursor: pointer;
    }
}
