@media(max-width: 992px) {

    .container-mobile {
        display: contents;
    }

    .btn-menu {
        display: block !important ;
        cursor: pointer;
        right: 0;
        position: absolute;
        top: 0;
        margin-right: 15px;
        border-radius: 5px;

        .icon-menu {
            border-radius: 5px;
        }
    }

    .box-links {
        background-color: #fff;
        display: none;

        .list-items {
            flex-direction: column;
            position: relative;
            text-align: left;
            width: 100%;

            .item {
                padding: 10px;
                border-bottom: 1px solid #ccc;

                &:last-child {
                    border-bottom: 0;
                    padding-bottom: 20px;
                }

                .nav-link {
                    color: #5f6368;
                }
            }
        }
    }

    .header-component {
        position: fixed;
        background: #fff;
        width: 100%;
        height: auto;
        z-index: 10;
        padding: 10px 0;

        .menu-nav {
            align-items: center;

            .list-items {
                display: flex;
                justify-content: space-between;

                .nav-link {
                    color: #000;
                }
            }

            .box-logo {

                .logo-color {
                    display: block;
                }

                .logo-white {
                    display: none;
                }

                .img-logo {
                    width: 250px;
                }
            }
        }
    }
}

@media (min-width: 994px) {
    .box-links {
        display: block !important;
    }
}
