<div class="counter-section pad-both-90">
    <div class="bg-gray-light">
        <ul class="box-card">
            <li class="card-counter col-md-2">
                <i class="fas fa-trophy icon"></i>
                <h2 class="title">120K</h2>
                <p class="text">HAPPY USERS</p>
            </li>
            <li class="card-counter col-md-2">
                <i class="fas fa-chart-line icon"></i>
                  <h2 class="title">9570</h2>
                <p class="text">LINE OF CODE</p>
            </li>
            <li class="card-counter col-md-2">
                <i class="far fa-arrow-alt-circle-down icon"></i>
                  <h2 class="title">756k</h2>
                <p class="text">DOWNLOADS</p>
            </li>
            <li class="card-counter col-md-2">
                <i class="far fa-star icon"></i>
                  <h2 class="title">4.97/5</h2>
                <p class="text">APP RATING</p>
            </li>
        </ul>
    </div>
</div>