@import '../../scss/_deps';

.counter-section {

    .box-card {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .card-counter {
            border: 2px solid #6610f2;
        }
    }
}
