<div class="counter-section pad-both-90">
    <div class="container">
        <ul class="row">
            <li class="card-counter col-md col-sm-6">
                <div class="box-info ">
                    <i class="fas fa-trophy icon-score"></i>
                    <h2 class="title-big"><span class="counter">120</span>K</h2>
                    <p class="text text-big">HAPPY USERS</p>
                </div>
            </li>
            <li class="card-counter col-md col-sm-6">
                <div class="box-info ">
                    <i class="fas fa-chart-line icon-score"></i>
                    <h2 class="title-big"><span class="counter">9570</span></h2>
                    <p class="text text-big">LINE OF CODE</p>
                </div>
            </li>
            <li class="card-counter col-md col-sm-6">
                <div class="box-info ">
                    <i class="far fa-arrow-alt-circle-down icon-score"></i>
                    <h2 class="title-big"><span class="counter">756</span>k</h2>
                    <p class="text text-big">DOWNLOADS</p>
                </div>
            </li>
            <li class="card-counter col-md col-sm-6">
                <div class="box-info ">
                    <i class="far fa-star icon-score"></i>
                    <h2 class="title-big"><span class="counter">4.97</span>/5</h2>
                    <p class="text text-big">APP RATING</p>
                </div>
            </li>
        </ul>
    </div>
</div>
