    </div>  
        <!-- Começo do Conteúdo do footer -->
        <footer id="footer " class="footer pad-both-60 bg-brown-light">
            <div class="container">
                <div class="row">
                    <div class="footer-icon col text-center mg-bottom-15">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-pinterest"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div class="col-12 text-center cl-gray-brown">
                        <p class="text-footer text-medium">Copyright © 2018 Appx Lander. Made with
                        <i class="fa fa-heart"></i> at Weblab X</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Final do Conteúdo do footer -->

        <!-- Chamadas dos arquivos JS -->
        <script type="text/javascript" src="./js/bundle.min.js"></script>
    </body>
</html>