@import '../../scss/_deps';

.app-screenshots-component {

    .box-carousel {

        .swiper-zz {
            width: 100%;
            height: 100%;

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 370px;
            }
        }
    }
}

.img-client {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}