<div class="app-screenshots-component pad-both-90">
    <!-- Title Our App Screenshots -->
    <div class=" row halign-middle text-center mg-bottom-30">
        <div class="col-md-6 col-sm-12">
            <h2 class="title title-section title-big">
                Our App Screenshots
            </h2>
            <p class="text text-section text-medium">
                Nam et sagittis diam. Sed tempor augue sit amet egestas scelerisque. Orci varius natoque penatibus et magnis dis parturient
                montes nascetur.
            </p>
        </div>
    </div>

    <!-- Carousel -->
    <div class="box-carousel pad-top-15">
         <!-- Swiper -->
        <div class="swiper-container container">
            <div class="swiper-wrapper">
                <img class="swiper-slide" src="../../img/ss-01.png" alt="">
                <img class="swiper-slide" src="../../img/ss-02.png" alt="">
                <img class="swiper-slide" src="../../img/ss-03.png" alt="">
                <img class="swiper-slide" src="../../img/ss-04.png" alt="">
                <img class="swiper-slide" src="../../img/ss-07.png" alt="">
                <img class="swiper-slide" src="../../img/ss-08.png" alt="">
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>

</div>
