@import '_deps.scss';

//===============================================
//                             Tamanhos de Fontes
//===============================================

.title {
    font-size: 56px;
}

.text-bigger {
    font-size: 20px;
}

.text-big {
    font-size: 18px;
}

.text-medium {
    font-size: 16px;
}

.text-small {
    font-size: 14px;
}

.text-smaller {
    font-size: 12px;
}

//===============================================
//                                         Button
//===============================================
