@import '_deps.scss';

//===============================================
//                             Tamanhos de Fontes
//===============================================

// TEXTOS

.text-bigger {
    font-size: 20px;
}

.text-big {
    font-size: 18px;
}

.text-medium {
    font-size: 16px;
}

.text-small {
    font-size: 14px;
}

.text-smaller {
    font-size: 12px;
}

// TITULOS
    
.title-bigger {
    font-size: 56px;
}

.title-big {
    font-size: 42px;
}

.title-medium {
    font-size: 28px;
}


//===============================================
//                             Tamanhos de ícone
//===============================================


.icon-smaller:before {
    font-size: 12px;
    height: 12px;
    width: 12px;
    padding: 3px;
}

.icon-small:before {
    font-size: 22px;
    height: 22px;
    width: 22px;
    padding: 3px;
}

.icon-medium:before {
    font-size: 32px;
    height: 32px;
    width: 32px;
    padding: 3px;
}

.icon-big:before {
    font-size: 42px;
    height: 42px;
    width: 42px;
    padding: 3px;
}

.icon-bigger:before {
    font-size: 52px;
    height: 52px;
    width: 52px;
    padding: 3px;
}

//===============================================
//                                         Button
//===============================================

.button-pattern {
    @extend .cl-white;
    background-image: linear-gradient(to top left, #c845aa, #770ddb);
    padding: 15px 40px;
    border-radius: 5px;
    cursor: pointer;
}

//===============================================
//                      TITULO AND TEXTO DE SEÇÃO
//===============================================

.title-section {
    @extend %robotoslab-thin;
    background-color: #770ddb;
    background-image: linear-gradient(to top left, #c845aa, #770ddb);
    background-clip: text;
    color: transparent;
}

.text-section {
    @extend %robotoslab-regular;
    @extend .cl-gray;
    line-height: 1.5;
}

//===============================================
//                                         ICONES
//===============================================

.icon {
    @extend .cl-transparent;
    background-image: linear-gradient(to bottom right, #c845aa, #770ddb);
    background-clip: text;
}

//===============================================
//                                         ICONES
//===============================================

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}
